:root{
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22d4fd;
    --color-enlaces: #0000FF;
    --color-hover: #054605;

    --fuente-montserrat: "Montserrat",sans-serif;
    --fuente-krona: "Krona One",sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.game-container {
    text-align: center;
    background-color: #ff0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    position: absolute;
    margin-top: 100px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #0000FF;
    color: white;
}

#score {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

footer{
    color: #FFFFFF;
    position: absolute;
    bottom: 0%;
}

a{
    color: cyan;
}

